{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="upload-box">
    <h2>Анализ пакета</h2>
    <p>Загрузите архив с исходным кодом Debian пакета (.tar.gz или .tar.xz)</p>

    <form action="/analyze" method="POST" enctype="multipart/form-data">
        <div class="file-input-wrapper">
            <label class="file-label" for="archive">Выбрать архив</label>
            <input type="file" id="archive" name="archive"
                   accept=".gz,.xz,.bz2" onchange="showFileName(this)">
            <div class="file-name" id="file-name">файл не выбран</div>
        </div>
        <button type="submit" class="submit-btn">Запустить анализ</button>
    </form>

    <div class="hint">
        Как получить исходники:
        <br><br>
        <code>docker run --rm -v "./sources/nmap:/out" debian:12 bash -c \</code>
        <br>
        <code>&nbsp;&nbsp;"echo 'deb-src http://deb.debian.org/debian bookworm main' >> /etc/apt/sources.list \</code>
        <br>
        <code>&nbsp;&nbsp;&& apt-get update -qq && apt-get install -y dpkg-dev \</code>
        <br>
        <code>&nbsp;&nbsp;&& cd /out && apt-get source nmap"</code>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}